<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee                              https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Definición de servlets -->
    <servlet>
        <servlet-name>RegistrarClienteServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.cliente.RegistrarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarRepuestoServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.repuesto.RegistrarRepuestoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarRepuestoServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.repuesto.MostrarRepuestoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarRepuestosServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.repuesto.MostrarRepuestosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarClienteServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.cliente.EliminarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarOrdenTrabajoServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.ordenTrabajo.RegistrarOrdenTrabajoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarOrdenesTrabajoServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.ordenTrabajo.MostrarOrdenesTrabajoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarOrdenTrabajoServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.ordenTrabajo.ModificarOrdenTrabajoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarVehiculoServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.ordenTrabajo.MostrarVehiculoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarOrdenTrabajoServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.ordenTrabajo.EliminarOrdenTrabajoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarDetalleOrdenServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.ordenTrabajo.MostrarDetalleOrdenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarRepuestoServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.repuesto.ActualizarRepuestoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarRepuestoServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.repuesto.EliminarRepuestoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarRepuestoServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.repuesto.ModificarRepuestoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarClientesServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.cliente.MostrarClientesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarClienteServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.cliente.ModificarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarClienteServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.cliente.ActualizarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarVehiculoServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.vehiculo.RegistrarVehiculoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarVehiculosServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.vehiculo.MostrarVehiculosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarVehiculoServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.vehiculo.ModificarVehiculoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarClienteServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.vehiculo.MostrarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarListadoOrdenesServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.ordenTrabajo.MostrarListadoOrdenesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarFacturaOrdenTrabajoServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.ordenTrabajo.MostrarFacturaOrdenTrabajoServlet</servlet-class>
    </servlet>
    <servlet>
    <servlet-name>HistorialClientePorPlacaServlet</servlet-name>
    <servlet-class>com.mycompany.proyecto2_progra2.servlets.ordenTrabajo.HistorialClientePorPlacaServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>QuitarRepuestoServlet</servlet-name>
    <servlet-class>com.mycompany.proyecto2_progra2.servlets.repuesto.QuitarRepuestoServlet</servlet-class>
</servlet>
    <!-- Mapeo de URLs -->
    <servlet>
        <servlet-name>RegistrarDetalleOrdenServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.detalleOrden.RegistrarDetalleOrdenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarRepuestosServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.detalleOrden.AgregarRepuestosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresaListaRepuestosServlet</servlet-name>
        <servlet-class>com.mycompany.proyecto2_progra2.servlets.detalleOrden.IngresaListaRepuestosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarClienteServlet</servlet-name>
        <url-pattern>/registrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarRepuestoServlet</servlet-name>
        <url-pattern>/registrarRepuesto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarRepuestosServlet</servlet-name>
        <url-pattern>/mostrarRepuestos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarClienteServlet</servlet-name>
        <url-pattern>/eliminarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarOrdenTrabajoServlet</servlet-name>
        <url-pattern>/registrarOrdenTrabajo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarOrdenesTrabajoServlet</servlet-name>
        <url-pattern>/mostrarOrdenesTrabajo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarOrdenTrabajoServlet</servlet-name>
        <url-pattern>/modificarOrdenTrabajo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarVehiculoServlet</servlet-name>
        <url-pattern>/mostrarVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarOrdenTrabajoServlet</servlet-name>
        <url-pattern>/eliminarOrdenTrabajo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarDetalleOrdenServlet</servlet-name>
        <url-pattern>/mostrarDetalleOrden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarRepuestoServlet</servlet-name>
        <url-pattern>/actualizarRepuesto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarRepuestoServlet</servlet-name>
        <url-pattern>/eliminarRepuesto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarRepuestoServlet</servlet-name>
        <url-pattern>/modificarRepuesto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarClientesServlet</servlet-name>
        <url-pattern>/mostrarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarClienteServlet</servlet-name>
        <url-pattern>/modificarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarClienteServlet</servlet-name>
        <url-pattern>/actualizarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarVehiculoServlet</servlet-name>
        <url-pattern>/registrarVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarVehiculosServlet</servlet-name>
        <url-pattern>/mostrarVehiculos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarVehiculoServlet</servlet-name>
        <url-pattern>/modificarVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarClienteServlet</servlet-name>
        <url-pattern>/mostrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarListadoOrdenesServlet</servlet-name>
        <url-pattern>/listadoOrdenes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarFacturaOrdenTrabajoServlet</servlet-name>
        <url-pattern>/mostrarFacturaOrdenTrabajo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>HistorialClientePorPlacaServlet</servlet-name>
    <url-pattern>/historialPorPlaca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>QuitarRepuestoServlet</servlet-name>
    <url-pattern>/quitarRepuesto</url-pattern>
</servlet-mapping>
    <!-- Configuración de sesión -->
    <servlet-mapping>
        <servlet-name>RegistrarDetalleOrdenServlet</servlet-name>
        <url-pattern>/registrarDetalleOrden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarRepuestosServlet</servlet-name>
        <url-pattern>/agregarRepuestos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresaListaRepuestosServlet</servlet-name>
        <url-pattern>/ingresaListaRepuestos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
